@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* background: #a1c3ff; */
}



h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 65px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.header a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.header a:hover {
    color: blue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #fff;
    color: black;
    min-height: 300px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    display: block;
}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 40px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 30px;
    text-align: center;
}

.box i {
    margin-right: 10px;
}

.box a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.box a:hover {
    color: blue;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}

p {
    font-weight: bold;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #f1f6fe;
    padding: 0 0 30px 0;
    color: black;
    font-size: 14px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    text-align: center;
}