

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    /* max-width: 1200px; */
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    align-self: center;
}
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}