ul {
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-bottom: 20px;
}

ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
}
ul li div:first-child {
    /* min-width: 30%; */
}
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0069d9;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}