.progress-bar {
    background-color: #f1f6fe;
    width: 100%;
}
.row{
width: 100%;
justify-content: space-evenly;
}
/*
.progress{
    background: "#3474e6";
} */
.progressContainer{
    width: 40%;

}
.progressHeader{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.row{
    margin-bottom: 50px;
}